[submodule "external/minimap2"]
	path = external/minimap2
	url = https://github.com/lh3/minimap2.git
[submodule "external/eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "external/edlib"]
	path = external/edlib
	url = https://github.com/Martinsos/edlib.git
